@page
@model PcPartManagementSystems.Pages.PCPMS.Data.Parts.IndexModel



<div class="container m-auto row">
    <div class="col-12 m-auto justify-content-center">
        <table id="PartsDatatable" class="table table-striped table-success" style="width: 100%; padding: 0 5px 0 5px"></table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // DataTable initialization
            $('#PartsDatatable').DataTable({
                "pageLength": 5, // Initial page length (optional)
                "language": {
                    "lengthMenu": "_MENU_", // This will hide the "entries per page" text
                },
                ajax: {
                    url: '?handler=DisplayParts',
                    dataSrc: '',
                },
                order: [[1, 'desc']], // Sort by Category Name descending by default
                info: false, // Hide info text "Showing x of y entries"
                ordering: false, // Disable sorting initially

            
                // Error handling
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching data:', textStatus, errorThrown);
                    Swal.fire({ icon: "error", title: errorThrown });
                },
                columns: [
                    {
                        title: '',
                        render: function (data, type, row, meta) {
                            return '<button type="button" class="btn btn-primary w-75 edit-btn">Edit</button>';
                        }
                    },
                    {
                        title: 'Nanufacture',
                        data: 'manufactureName'
                    },
                    {
                        title: 'Category',
                        data: 'categoreName',
                    },
                    {
                        title: 'Specifation',
                        data: 'specifation'
                    },
                    {
                        title: 'Price',
                        data: 'price',
                        render: function (data) {
                            return formatCurrency(data);
                        },
                        type: 'money'
                        
                    },
                    {
                        title: 'Stock',
                        data: 'stock',
                    },
                  


                ],


            });
        })
    </script>
}




@* <div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center"></h5>
                <form class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Category">Category</label>
                            <select id="Category" class="form-control" style="max-width: 500px;" multiple></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="max-width: 500px;">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#Category').select2({
                theme: 'bootstrap-5',          // Use Bootstrap 5 theme
                allowClear: false,              // Allow the dropdown to be cleared
                placeholder: '--Select--',        // Set placeholder text
                minimumInputLength: 3, // only start searching when the user has input 3 or more characters
                closeOnSelect: false,
               
            })

            setSelect2WithSearch('/sel?handler=AllCategory', '#Category');
      
       

        })
    </script>
} *@