@page
@model PcPartManagementSystems.Pages.PCPMS.Data.Parts.IndexModel
@{
}

<div class="row m-auto justify-content-center">
    <div class="col-12 text-center">

       @*  <select id="Category" class="form-control" style="max-width: 500px;" multiple></select> *@
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#Category').select2({
                theme: 'bootstrap-5',          // Use Bootstrap 5 theme
                allowClear: false,              // Allow the dropdown to be cleared
                placeholder: '--Select--',        // Set placeholder text
                minimumInputLength: 3, // only start searching when the user has input 3 or more characters
                closeOnSelect: false,
               
            })

            setSelect2WithSearch('/sel?handler=AllCategory', '#Category');
      
       

        })
    </script>
}