@page "{Id?}"
@model PcPartManagementSystems.Pages.PCPMS.Data.Manufature.EditModel

@section Topbar {
    <div class="py-2 me-3">
        <a href="/PCPMS/Data/Manufature" form="editForm" class="btn btn-secondary">Back</a>
        <button type="submit" form="editForm" class="btn btn-primary">Save</button>
    </div>
}

<div class="row m-auto">
    <div class="card col-10 m-auto py-2">
        <form id="editForm" method="post">
            <input asp-for="ret.Id" hidden />
            <table class="table">
                <tbody>
                    <tr class="row">
                        <td class="form-group col-6">
                            <label asp-for="ret.ManufactureName" class="pb-1">Manufacture</label>
                            <input asp-for="ret.ManufactureName" class="form-control" />
                        </td>
                        <td class="form-group col-6">
                            <label asp-for="ret.CategotyName" class="pb-1">Category</label>
                            <select id="Category" class="form-control" asp-for="ret.CategotyName"></select>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="form-group col-6">
                            <label asp-for="ret.Specification" class="pb-1">Specification</label>
                            <input asp-for="ret.Specification" class="form-control" />
                        </td>
                        <td class="form-group col-6">
                            <label asp-for="ret.Stock" class="pb-1">Stock</label>
                            <input asp-for="ret.Stock" class="form-control" />
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="form-group col-6">
                            <label asp-for="ret.Price" class="pb-1">Price</label>
                            <input asp-for="ret.Price" class="form-control text-end" value="@(Model.ret?.Price.ToString("N2") ?? string.Empty)" />
                        </td>
                        <td class="form-group col-6">
                            <label asp-for="ret.Description" class="pb-1">Description</label>
                            <input asp-for="ret.Description" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

      



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dropdown").select2({
                theme: 'bootstrap',
                placeholder: '--Select--'
            });
            var selectedValue = '@(Model.ret?.CategotyName ?? "")'; // Using null conditional operator

            if (selectedValue !== '') {
                setSelect2Name('/sel/?handler=AllCategory', '#Category', selectedValue);
            } else {
                setSelect2Name('/sel/?handler=AllCategory', '#Category', '');
            }
        });

    </script>
}

