@page
@model PcPartManagementSystems.Pages.PCPMS.Dashboard.IndexModel

@{
    ViewData["Title"] = bl.menu.mnu.Menu_Dashboard;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6">col 1</div>
        <div class="col-lg-3 col-md-4 col-sm-6">col 2</div>
        <div class="col-lg-3 col-md-4 col-sm-6">col 3</div>
        <div class="col-lg-3 col-md-4 col-sm-6">col 4</div>
    </div>
</div>



