@page
@model PcPartManagementSystems.Pages.PCPMS.Data.Categories.IndexModel
@{
    ViewData["Title"] = bl.menu.mnu.Menu_Name_Category;
}

@section Topbar {
    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Category</a>
}

@* Modal *@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
            </div>
            <form method="post">
            <div class="modal-body">
                <div class="form-text">
                    <input type="text" class="form-control" placeholder="Categories" aria-label="Categories" asp-for="@Model.dto.CategoryName">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between px-2">
                <button type="button" id="ClearInput" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                <button type="submit" class="btn btn-primary" id="ClearInput" asp-page-handler="InsertCategory" onclick="return BtnClick()">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="container m-auto row    sdasd">
    <div class="col-10 m-auto justify-content-center">
        <table id="CategoriesTable" class="table table-striped" style="width: 100%; padding: 0 5px 0 5px"></table>
    </div>
 
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ClearInput').click(function () {
                $('#dto_CategoryName').val('')
            });




            $('#CategoriesTable').DataTable({
                ajax: {
                    url: '?handler=DisplayData',
                    dataSrc: ''
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error fetching data:', textStatus, errorThrown);
                    Swal.fire({ icon: "error", title: errorThrown,});
                },
                columns: [
                    {
                        title: "ID",
                        data: "id"
                    },
                    {
                        title: "Category Name",
                        data: "categoryName"
                    }
                ],
            });

           
      
            
        });
    </script>
}
