
body{
    z-index: 1;
}


.hamburger_menu .bx {
    font-size: 20px
}
.btn-dropdown {
    border: none;
    font-size: 30px;
    cursor: pointer
}
.main_container {
    display: flex;
    overflow: hidden;
}

.fixed_column1 {
    /* Example fixed width */
    width: 200px;
    /* Optionally, to prevent columns from shrinking */
    flex-shrink: 0;
}

.fixed_column2 {
    /* Allow column to grow and shrink based on content */
    flex: 1;
    /* Optionally, add padding or margin to create space between columns */
}
/* Sidebar CSS */
.sidebar {
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px; /* Initial width of sidebar */
    background-color: #f8f9fa;
    transition: 0.5s ease-in-out;
    overflow-y: auto;
}


.showsidebar {
    width: 0;
    position: absolute;
    transition: 0.5s ease-in-out;
}

/* Hamburger menu for small screens */
@media (max-width: 991px) {
    .sidebar {
        width: 0;
    }

    .fixed_column2 {
        margin-left: 0;
    }

    .sidebar.show {
        width: 280px;
    }

    .main_container {
        display: block;
    }

}

/* Navbar adjustments */
.navbar {
    z-index: 1000; /* Ensure navbar is on top of sidebar */
}

.body {
    margin-top: 56px; /* Adjust for navbar height */
    padding-top: 20px;
}

/* Sidebar toggle button styles */
.sidebar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sidebar-toggler:focus {
    outline: none;
}



/*// Modal //*/
.Modal_error {
    transition: 0.05s ease-in-out;
    position: fixed;
    top: 20%;
    left: 55%;
    z-index: 99;
    transform: translate(-50%, -50%);
    background: #ffffff;
    width: 370px;
    border-radius: 20px;
    border: #0000007f solid 1px;
}

.modal-title_header {
    background: #9f9f9f8c;
    width: 100%;
    margin: 0;
    height: 40px;
    border-radius: 20px 20px 0 0;

}

