

/* --------- Form ----------- */
.conlogin {
    background: radial-gradient(rgb(0, 0, 0, 0.82),rgba(0,0,0,.82)),url('/img/loginBack.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    filter: grayscale(70%);
}
.conlogin .card{
    background-color: #ffffff8c !important;
    backdrop-filter: blur(5);
}
.container-login {
    padding-top: 13rem;
    width: 400px;
    margin: auto;

}
.login-input input {
    border: none;
    border-bottom: 1px solid #00000094;
    background: transparent;
    border-radius: 0;

}
.login-input input:focus {
    box-shadow: none;
    background: none;
}

.login-input input::placeholder {
    color: #000; /* Replace with your desired color code */
}
.loginlogo{
    text-align: center;
}
.loginlogo img {
    padding-top: 2rem;
    width: 150px;
    align-items: center;
    margin: auto;
}
.navbar-expand .navbar-nav .dropdown-menu {
    left: -150px;
}
.dropdown-show{
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 50px;
}

.info-box {
    position: relative;
    height: 120px;
    margin: auto;
    width: 350px;
}
.info-box-icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

}
.table-input-manu tbody tr td {
    border-top: none !important;
    border-bottom: none !important;
}
.modal-header-error{
    width: 100%;
    height: 50px;
    border-radius: 5px 5px 0 0
}

.modal-header-Success {
    width: 100%;
    height: 50px;
    border-radius: 5px 5px 0 0
}
}