<!-- Pages/Shared/_ErrorMessage.cshtml -->
@{
    string errorMessage = TempData[bl.refs.ErrorMessage] as string;

    if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="Modal_error justify-content-center align-items-center">
            <div class="modal-title_header"></div>
            <div class="mx-5 mt-3" style="height: 100px">
                <h6>@errorMessage</h6>
            </div>
            <div class="align-self-end ml-auto position-relative">

                <a class="back-button btn btn-secondary">Back</a>
            </div>
        </div>

    }
}















