<!-- Pages/Shared/_SuccessMessage.cshtml -->

@{
    string successMessage = TempData[bl.refs.SeccessMessage] as string;

    if (!string.IsNullOrEmpty(successMessage))
    {

        <div class="modal fade" id="SuccessShowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header-Success bg-success m-0 p-0">
                    </div>
                    <div class="modal-body text-center">
                        <h6>@successMessage</h6>
                    </div>
                    <div class="modal-footer py-0">
                        <button type="button" class="btn btn-secondary" id="ErrorShowModalHide">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
}